
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}
.logo-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container .img{
    height: 24vh;
    width: 50vh;
}
.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card{
    width: 320px;
    border-radius: 30px;
    background-color: #fff;
}
.image-content, 
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #4070f4;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color:#FFF;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: white;
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid lightblue;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
    padding: 15px 0;
    justify-content: center;
}
.btn-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.button{
    width: 14vh;
   border: none;
   font-size: 16px;
   color: white;
   padding: 8px 16px;
   background-color: #4070f4;
   border-radius: 6px;
   margin: 14px;
   cursor: pointer;
   transition: all 0.3s ease;

}
button:hover{
    background-color: #265df2;
}
.button-2{
    border: none;
    font-size: 16px;
    color: white;
    padding: 8px 16px;
    background-color: #4070f4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
 
 }
 .button-2:hover{
     background-color: #265df2;
 }
.swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #4070f4;
}

@media screen and (max-width: 768px){
    .slide-content{
        margin: 0 10px;
    }
    .logo-container .img{
        height: 20vh;
        width: 30vh;
    }
}